.btn-primary{
    background:#38bdf8;
    border:none;
}

.btn-primary:hover{
    background:#0ea5e9;
}

.hero-image{
    width:380px;
}

.about-image{
    width:380px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.social-icons{
    display:flex;
    gap:20px;
}

.social-icons a{
    width:55px;
    height:55px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:#1e293b;
    color:#38bdf8;
    font-size:24px;
}

.skill-card{
    background:#111827;
    border-radius:15px;
    padding:35px;
    text-align:center;
    border:1px solid transparent;
    height:180px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.skill-card i{
    font-size:50px;
    color:#38BDF8;
    margin-bottom:15px;
}

.skill-card h5{
    color:white;
}

.project-card{
    background:#1E293B;
    border-radius:20px;
    overflow:hidden;
    height:100%;
}

.project-image{
    width:100%;
    height:220px;
    object-fit:cover;
}

.project-content{
    padding:25px;
}

.tech-stack{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin:20px 0;
}

.tech-stack span{
    background:#38BDF8;
    color:white;
    padding:6px 12px;
    border-radius:30px;
}

.project-buttons{
    display:flex;
    gap:15px;
}

.stats{
    display:flex;
    gap:50px;
    margin-top:50px;
}

.stat h2{
    color:#38BDF8;
    font-size:42px;
}

.stat span{
    color:#CBD5E1;
}